{% extends "base.html" %}
{% load static %}

{% block title %}{{ question.id }} question-detail {% endblock %}

{% block content %}
  <h1>{{ question.text }}</h1>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
      <div class="form-group">
        <div class="checkbox">
          <label for="choice{{ choice.id }}">
          <input type="checkbox" name="choice" id="choice{{ choice.id }}"
                 value="{{ choice.id }}"/>{{ choice.text }}
        </label></div>

      </div>
    {% endfor %}
    <button class="btn btn-default" type="submit">Vote</button>
  </form>
{% endblock content %}