{% extends "base.html" %}
{% load static %}

{% block title %}question-list {% endblock %}

{% block content %}
  {% if question_list %}
    <ul>
      {% for question in question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.text }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock content %}