{% extends "base.html" %}
{% load static %}

{% block title %}{{ question.id }} question-result {% endblock %}

{% block content %}

  <h1>{{ question.text }}</h1>

  <ul>
    {% for choice in question.choice_set.all %}
      <li>{{ choice.text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
  </ul>

  <a href="{% url 'polls:detail' question.id %}">Vote again?</a>

{% endblock content %}