{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django-tutorial | {% block title %} {% endblock %}</title>

    {% block favicon %}
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    {% endblock %}

    {# Block where global CSS will go. #}
    {% block styles %}
      <link href="{% static 'lib/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
      <link href='{% static "css/style.css" %}' rel='stylesheet' type='text/css'/>
    {% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}{% endblock %}
  </head>

  <body>
  {# Main content goes in this 'layout' block #}
  <div class="container">
    {% block content %}{% endblock %}
  </div>


  {# Local scripts #}
  {% block scripts %}{% endblock %}

  {# Additional JS scripts #}
  {% block extrascripts %}{% endblock %}
  </body>
</html>
